* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $Poppins;
}

span {
  display: inline-block;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: inherit;
}

a {
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
  list-style-position: inside;
}

img,
svg {
  display: block;
  max-width: 100%;
}