.grid {
  display: grid;
}

@media(min-width: 992px) {
  .two_grids {
    grid-template-columns: repeat(2, 1fr);
  }

  .three_grids {
    grid-template-columns: repeat(3, 1fr);
  }

  .four_grids {
    grid-template-columns: repeat(4, 1fr);
  }

  .six_grids {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1232px) {
  .four-grids {
    grid-template-columns: repeat(4, 1fr);
  }

  .five_grids {
    grid-template-columns: repeat(5, 1fr);
  }

  .six-grids {
    grid-template-columns: repeat(6, 1fr);
  }
}