.header {
  min-height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Off-white;
}

@media(min-width: 992px) {

  .header-middle_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}