.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Off-white;
  flex-wrap: wrap;
}

.header-middle {
  width: 100%;
}

.header-middle_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}